[submodule "modules/MMM-NowPlayingOnSpotify"]
	path = modules/MMM-NowPlayingOnSpotify
	url = https://github.com/raywo/MMM-NowPlayingOnSpotify
[submodule "modules/MMM-SpaceX"]
	path = modules/MMM-SpaceX
	url = https://github.com/koxm/MMM-SpaceX
[submodule "modules/MMM-PublicTransportHafas"]
	path = modules/MMM-PublicTransportHafas
	url = https://github.com/raywo/MMM-PublicTransportHafas
[submodule "modules/MMM-iFrame"]
	path = modules/MMM-iFrame
	url = https://github.com/alberttwong/MMM-iFrame
